@import 'carousel.css';
@import 'modal.css';
@import 'pagination.css';

:root{
    --bs-base: #E2E1CF;
    --bs-base-2: #A49876;
    --bs-active-bg-pagination: #980108;
    --bs-active-bg-pagination-hf: #a68184;
}

body {
    background-color: var(--bs-base);
}

body.modal-open {
    overflow: auto !important;
    padding-right: 0 !important;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header-bg {
    background-image: url(/image/body.png);
    background-size: cover;
    background-position: center;
    padding: 40px 0;
    margin-left: -2px;
    color: var(--bs-base);
    height: 450px;
    width: 101%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .header-bg {
        padding-left: 0;
        padding-right: 0;
    }
    .menu {
        width: 100%;
    }
}


.panel-bg {
    padding: 20px;
    padding-right: 6rem !important;
    padding-left: 6rem !important;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row-background {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/image/logo_panel.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(76%);
    z-index: 1;
}

/* Убедитесь, что внутри .row все элементы имеют более высокий z-index */
.row:has(.row-background) * {
    position: relative;
    z-index: 2;
}

@media (max-width: 480px) {
    .header-bg {
        height: 200px;
        margin-left: 0;
    }
}

.column-1 {
    margin-top: 140px;
}
.column-2 {
    margin-top: 25px;
}

@media (max-width: 768px) {
    .header-bg {
        height: auto;
    }

    .column {
        margin-top: 0;
    }
}

.inherit-color {
    color: inherit;
}

.logo {
    width: 21.7em;
    height: 256px;
}

@media (max-width: 480px) {
    .logo {
        width: 80%;
        height: auto;
        max-width: 200px;
    }

    .contact-icon, .about-icon {
        width: 25px;
        height: auto;
    }

    .text-elyse-l {
        font-size: 1.2rem;
    }
}


.contacts {
    margin-top: 30px;
}

.contacts a {
    text-decoration: none;
    list-style-type: none;
}

.h-none a {
    text-decoration: none;
    list-style-type: none;
}

.text-elyse {
    color: var(--bs-base);
}
.text-elyse-l {
    color: #e2e1cf;
}

.text-wrap-350 {
    max-width: 350px;
    display: inline-block;
}
.text-wrap-550 {
    max-width: 550px;
    display: inline-block;
}

.contact-icon {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.price-container {
    position: relative;
    display: inline-block;
}

.price-outline {
    width: 150%;
    height: auto;
    position: absolute;
    top: -5px;
    left: -20px;
    z-index: 1;
}

.price {
    position: relative;
    z-index: 2;
    font-size: 1.5em;
    color: black;
}


.icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Лоадеры */
#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

/** etc */
.about-icon {
    width: 250px;
    margin-right: 5px;
}

.cart-icon {
    width: 60px;
    margin-right: 5px;
}

.cart-icon-h {
    width: 30px;
    margin-right: 5px;
}

.heart-icon {
    position: absolute;
    bottom: -11%;
    right: -19%;
}

.hover-brightness:hover {
    filter: brightness(76%);
    transition: filter 0.3s ease;
}

.icon-small {
    width: 60px;
    height: 60px;
    font-size: 2.3rem;
}

.btn-cart {
    width: 50% !important;
    border-radius: 20px;
}

.mt-10 {
    margin-top: 10rem !important;
}

.mt-12 {
    margin-top: 12rem !important;
}

.mt-15 {
    margin-top: 15rem !important;
}

.custom-input {
    background-color: black;
    color: var(--bs-base);
}
.custom-input:focus {
    background-color: black;
    color: var(--bs-base);
}

.custom-input::placeholder {
    color: var(--bs-base);
    opacity: 1;
}

.menu {
    background-color: black;
}

.menu a {
    color: var(--bs-base);
}

.section-title {
    text-align: center;
    margin: 20px 0;
}

.product {
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 30px;
}

.separator {
    position: relative;
    padding-right: 15px;
}

.separator::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 1px;
    height: 20px;
    background-color: #ccc;
}

.separator:last-child::after {
    content: none;
}
@media (max-width: 768px) {
    .pagination .page-link {
        padding: 5px 10px;
        font-size: 14px;
        width: 30px;
        height: 30px;
    }
}

/** Подвал */
.footer-image {
    width: 100%;
    height: 25em;
    object-fit: fill;
}
.footer-main {
    background-color: black;
    color: white;
    text-align: center;
    padding: 40px 0;
}
.footer-main h2 {
    margin-bottom: 20px;
}
.footer-main .contact-info {
    margin-bottom: 20px;
}
.footer-images {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer-images img {
    width: 100px;
    height: auto;
}
