body {
    background-image: url('/img/body.jpeg');
    background-size: cover;
    color: white;
}
.header, .footer {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.bg-price-list {
    background-color: #e0f7fa;
    padding: 20px;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #FFD700;
}

.per-km {
    font-size: 1rem;
    color: #d2d7ff;
}

.glowing-price {
    color: yellow;
    text-shadow:
            0 0 5px rgba(255, 255, 0, 0.73),
            0 0 10px rgba(255, 255, 0, 0.73),
            0 0 15px rgba(255, 165, 0, 0.73),
            0 0 20px rgba(255, 165, 0, 0.73),
            0 0 25px rgba(255, 0, 0, 0.73),
            0 0 30px rgba(255, 0, 0, 0.73),
            0 0 35px rgba(255, 0, 0, 0.73); /* Эффект свечения */
}
