body {
    /*background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('image/body.jpg');*/
    background-color: #816a6a; // #988787
    background-size: cover;
    background-position: center;
    background-repeat: inherit;
    opacity: 0.9;
}

.navbar {
    background-color: #4c3018; // #4a3a2c
}
.navbar-brand, .navbar-nav .nav-link {
    color: #f5f5f5 !important;
}
.navbar-nav .nav-link:hover {
    color: #d4a97c !important;
}
.hero-section h1 {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.hero-section p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}
.btn-primary {
    background-color: #d4a97c;
    border-color: #d4a97c;
}
.btn-primary:hover {
    background-color: #b58969;
    border-color: #b58969;
}
.carousel-item img {
    object-fit: cover;
    height: 400px;
}
.carousel-caption {
    position: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    background: #260b0bcc;
    color: #eceeff;
    padding: 5px;
    text-align: center;
}
.footer {
    background-color: #4a3a2c;
    color: #f5f5f5;
    padding: 20px 50px;
    text-align: left;
}
.footer p {
    margin: 0;
}
.footer a {
    color: #d4a97c;
}
.footer a:hover {
    color: #b58969;
}
.contact-info img {
    width: 24px;
    height: auto;
}

.contact-icon img {
    transition: transform 0.2s;
}

.contact-icon:hover img {
    transform: scale(1.1);
}
